html, body {
	background: #FFF;
	font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
	font-size: 16px;
	line-height: 1.6;
	word-wrap: break-word;
}

pre, code {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #F7F7F7;
	border-radius: 3px;
	border: 0 none;
	word-wrap: normal;
	font: 12px Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

code {
	padding: 0.2em;
}

blockquote {
	padding: 0 15px;
	color: #777;
	border-left: 4px solid #DDD;
	word-wrap: break-word;
}
