* {
    overflow: visible !important;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

html, body {
	background: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
    line-height: 1.42857143;
    color: #444;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid #EEE;
}

pre, code {
	padding: 16px;
	overflow: auto;
	line-height: 1.45;
	background-color: #F9F9F9;
	border-radius: 3px;
	border: 0 none;
	word-wrap: normal;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .08);
}

pre pre, pre code,
code code, code pre {
    box-shadow: none;
    padding-left: 0;
    margin-left: 0;
}

code {
	padding: .2em .4em;
}

blockquote {
    padding: 10px 20px;
    margin: 10px 0 20px;
	color: #777;
	border: 0 none;
	border-left: 4px solid #EEE;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #FFF;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #DDD;
}
table div {
    page-break-inside: avoid;
}
th, td {
    text-align: left;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px 14px;
    vertical-align: top;
    border-top: 1px solid #DDD;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
table > tbody + tbody {
    border-top: 2px solid #DDD;
}
table table {
    background-color: #FFF;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    border: 1px solid #DDD;
}
table > thead > tr > th,
table > thead > tr > td {
    border-bottom-width: 2px;
    text-align: center;
    vertical-align: middle;
}
table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #111;
    margin-bottom: 10px;
}
h1, h2, h3 {
    padding-bottom: 12px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 18px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
    color: #555;
}

p {
    margin: 0 0 10px;
}

input[type="checkbox"] {
    margin-right: 6px;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}
dt,
dd {
    line-height: 1.42857143;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}
a[href]:after {
	content: " " attr(href);
    color: #337ab7;
}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
	content: "";
	text-decoration: none;
	margin-left: 0;
}

.new-page,
.page-break,
.next-page,
.page-end {
    page-break-before: always;
}
