/**
 * Your markdown-themeable-pdf custom styles
 *
 * The default file can be found in the folder ~/.atom/packages/markdown-themeable-pdf/markdown-themeable-pdf
 * The base css files can be found in the folder ~/.atom/packages/markdown-themeable-pdf/src/css
 * The selected highlight.js css file can be found in the folder ~/.atom/packages/markdown-themeable-pdf/node_modules/highlight.js/styles
 * NOTICE: Avoid any cowboy coding in this files! You could overwrite CSS rules in this file!
 */

html, body {
	color: red;
}
