# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  # '.markdown-preview': [
  #   {label: 'Save As PDF', command: 'markdown-themeable-pdf:export'}
  # ]

  '.tree-view .file .name[data-name$=\\.markdown]':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  '.tree-view .file .name[data-name$=\\.md]':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  '.tree-view .file .name[data-name$=\\.mdown]':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  '.tree-view .file .name[data-name$=\\.mkd]':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  '.tree-view .file .name[data-name$=\\.mkdown]':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  '.tree-view .file .name[data-name$=\\.ron]':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  '.tree-view .file .name[data-name$=\\.txt]':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]

  'atom-pane[data-active-item-name$=\\.markdown] atom-text-editor':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  'atom-pane[data-active-item-name$=\\.md] atom-text-editor':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  'atom-pane[data-active-item-name$=\\.mdown] atom-text-editor':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  'atom-pane[data-active-item-name$=\\.mkd] atom-text-editor':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  'atom-pane[data-active-item-name$=\\.mkdown] atom-text-editor':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  'atom-pane[data-active-item-name$=\\.ron] atom-text-editor':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
  'atom-pane[data-active-item-name$=\\.txt] atom-text-editor':
    [{label: 'Markdown to PDF', command:  'markdown-themeable-pdf:export'}]
